.container_home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255,255,255);
}

/* Estilizando forms */

.form_login{
    margin-top: 20px;
}

.form_login form img{
    height: 60px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.options form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form_login, .option_createAccount{
    border: 1px solid rgb(171, 171, 171);
    width: 350px;
    background-color: rgb(250,250,250);
}

.form_login{
    height: 500px;
}

.option_createAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 70px;
}

.option_createAccount span a{
    color: #0095f6 ;
    text-decoration: none;
    
}

input[type='submit']:hover {
    background-color:#057fdd ;
}

input{
    margin-top: 15px;
    border: 1px solid rgb(171, 171, 171);
    padding: 15px;
    background-color: rgb(250,250,250);
    width: 250px;
}

input[type='submit']{
    background-color: #0095f6 ;
    border-style: none;
    border-radius: 5px;
}
